<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Bem vindo ao Guia de Perguntas</h1>
    <h2>Lista de perguntas</h2>
    <%= message %>
    <%= lang %>

    <% if (msg) { %>
        <p>Message is true</p>
    <% }%>

    <% if (produtos && produtos.length > 0) { %>
        <h3>Produtos Disponíveis:</h3>
        <ul>
            <% produtos.forEach(function(produto) { %>
                <li><%= produto.nome %> - R$ <%= produto.preco.toFixed(2) %></li>
            <% }); %>
        </ul>
    <% } else { %>
        <p>Nenhum produto disponível.</p>
    <% } %>

    <img src="/img/images.jpg" alt="" srcset="">
</body>
</html>